

    /* ----------------------------------------------------------- */



    /* LOGIN FIRTS CSS */


    
    .body_login_firts{
        background-image: url('../img/background.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .row_login_firts{
        width: 100vw;
        height: 100vh;
    }

    .form_login_firts{
        background-color:rgba(255, 255, 255, 0.76);
    }


    .title_login_firts{
        color: #7DBE38;
        font-family: 'Gotham', sans-serif;
        font-weight: bold;
    }

    .title2_login_firts{
        font-family: 'Gotham', sans-serif;
        margin-right: 5%; margin-left: 5%;
        text-align: center;
    }

    .bottom_login_firts{
        border-radius: 20px;
        background: #7DBE38;
        font-size: 20px;
    }

    @media (min-width: 1366px) {
      .form_login_firts{
        padding-top: 5%;
        padding-bottom: 5%;
      }

      .img-responsive_login_firts{
          width: 50% !important;
      }

   }

  @media (min-width: 1920px) {
      .form_login_firts{
        height: 70%;
        padding: 2% !important;
      }

   }


       /* ----------------------------------------------------------- */



    /* LOGIN RESTORE CSS */


       .body_login_restore{
        background-image: url('../img/background.png');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .row_login_restore{
        width: 100vw;
        height: 100vh;
    }

    .form_login_restore{
        background-color:rgba(255, 255, 255, 0.76);
    }


    .title_login_restore{
        color: #7DBE38;
        font-family: 'Gotham', sans-serif;
    }

    .title2_login_restore{
        font-family: 'Gotham', sans-serif;
        margin-right: 5%; margin-left: 5%;
        text-align: center;
    }

    .bottom_login_restore{
        border-radius: 20px;
        background: #7DBE38;
        font-size: 20px;
    }

    @media (min-width: 1366px) {
      .form_login_restore{
        padding-top: 5%;
        padding-bottom: 5%;
      }

      .img-responsive_login_restore{
          width: 50% !important;
      }

   }

  @media (min-width: 1920px) {
      .form_login_restore{
        height: 70%;
        padding: 2% !important;
      }

   }

   
       /* ----------------------------------------------------------- */


    /* TUTORIAL CSS */


       .body_tutorial{
        background-image: url('../img/tutorial/1.png');
background-size: 100% 100% ;
background-repeat:no-repeat;
background-attachment: fixed;
        }


.list_tutorial li{
    display: inline-block;
    margin-inline: 15px;
}

.list_tutorial li div{
    border-radius: 20px;
    cursor: pointer;
    background: white;
}


       /* ----------------------------------------------------------- */