/*//////// auth - forgot ////////*/
.cardlogin {
  max-height: 80vh !important;
  min-height: 80vh !important;
}

@media (max-width: 1366px) and (max-height: 768px) {
  #col_title {
    padding: 0 !important;
  }
  #col_input_email {
    margin-top: 5% !important;
  }
  #lenovo_logo {
    max-width: 60% !important;
  }
  .titleForgotPass {
    font-size: 2em !important;
  }
  .titleDatosAdicionales {
    font-size: 1.5em !important;
  }
}
@media (max-width: 1050px) and (max-height: 768px) {
  .cardlogin {
    min-width: 80vw !important;
  }
}
/*//////// auth - reset ////////*/
.row_initial {
  min-height: 100vh !important;
}

/*//////// landing - challenges - index ////////*/
#title_challenge {
  text-align: center;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card_challenge {
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  min-height: 250px;
  cursor: pointer;
}

.card_challenge_inactive {
  filter: grayscale(1);
  cursor: auto;
}

@media (min-width: 750px) and (max-width: 1100px) {
  #col_challenge {
    min-width: 50%;
    max-width: 50%;
  }
  #title_challenge {
    font-size: 1.025rem;
    line-height: 1.4em;
    font-weight: 300;
  }
  #subtitle_challenge {
    font-size: 0.925rem;
    line-height: 1.4em;
    font-weight: 300;
  }
}
@media (max-width: 800px) {
  #col_challenge {
    min-width: 100%;
    max-width: 100%;
  }
}
/*//////// landing - challenges - my_challenges ////////*/
.cardgreen {
  position: absolute;
  background: #7DBE38;
  opacity: 0.7;
  max-width: 94%;
  min-height: 100%;
  border-radius: 20px;
}

.backgroundModal {
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media (min-width: 1920px) {
  .backgroundDesafios {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 230px;
    border-radius: 20px !important;
    cursor: pointer;
  }
  .titleDesafio {
    font-weight: bold;
  }
  .row_firtscard {
    margin-top: 3%;
    margin-bottom: 5%;
  }
  .svgDiploma {
    width: 30% !important;
  }
  .row_svgSpecial {
    right: -30px !important;
  }
}
@media (max-width: 1366px) {
  .backgroundDesafios {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 150px;
    border-radius: 20px !important;
  }
  .titleDesafio {
    font-weight: bold;
    font-size: 1.3em;
  }
  .titleback_desafios {
    font-size: 1.2em;
  }
  .subtitledback_desafios {
    font-size: 1em;
  }
  .svgDiploma {
    width: 30% !important;
  }
  .row_firtscard {
    margin-top: 2%;
    margin-bottom: 5%;
  }
  .cardgreen {
    position: absolute;
    background: #7DBE38;
    opacity: 0.7;
    max-width: 90.5%;
    min-height: 100%;
    border-radius: 20px;
  }
}
@media (max-width: 720px) {
  .col_desafios {
    min-width: 100% !important;
    margin-bottom: 5% !important;
  }
}
/*//////// landing - challenges - test ////////*/
.backgroundModal {
  background-image: url(/images/home.png?e47b87c090bdf5163c2e925a6d2dd826);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1366px) {
  .icon_modal {
    width: 25% !important;
  }
}
@media (max-width: 1366px) {
  .title_prueba {
    font-size: 1.2em;
  }
  .titleprueba_cuestionario {
    font-size: 1.2em;
  }
}
/*//////// landing - gallery - index ////////*/
@media (min-width: 1920px) {
  .video-preview {
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 230px;
    width: 100%;
    border-radius: 20px !important;
  }
  .video-title {
    font-weight: bold;
    font-size: 1.3em;
  }
}
@media (max-width: 1366px) {
  .video-preview {
    height: 150px;
  }
  .video-title {
    font-weight: bold;
    font-size: 1em;
  }
  .title-gallery {
    font-size: 1.2em;
  }
  .subtitle-gallery {
    font-size: 1em;
  }
}
/*//////// landing - gallery - video ////////*/
@media (min-width: 1920px) {
  .backgroundDesafios {
    background-image: url(/images/background_video_galeria.png?7060a5fde3c9e4197fb5e75f26595731);
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    border-radius: 20px !important;
  }
  .backgroundDesafiosInactive {
    background-image: url(/images/background_video_galeria.png?7060a5fde3c9e4197fb5e75f26595731);
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    border-radius: 20px !important;
  }
  .titleDesafio {
    font-weight: bold;
  }
}
@media (max-width: 1366px) {
  .backgroundDesafios {
    background-image: url(/images/background_video_galeria.png?7060a5fde3c9e4197fb5e75f26595731);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    border-radius: 20px !important;
  }
  .backgroundDesafiosInactive {
    background-image: url(/images/background_video_galeria.png?7060a5fde3c9e4197fb5e75f26595731);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    border-radius: 20px !important;
  }
  .col_two {
    max-height: 400px;
  }
  .titleVideo {
    font-size: 1.2rem;
  }
  .col_chat {
    max-height: 230px !important;
  }
  .col_box_text {
    max-width: 80% !important;
  }
  .col_bottom_submit {
    max-width: 20% !important;
  }
}
@media (max-width: 800px) {
  .col_two {
    min-width: 80% !important;
    margin: auto !important;
  }
  .col_one {
    min-width: 100% !important;
    margin: auto !important;
  }
}
/*//////// landing - layouts - home - navbar ////////*/
@media only screen and (max-width: 1366px) {
  .btn-navbar {
    font-size: 12px !important;
  }
  .col_1_navbar {
    margin-right: 5% !important;
  }
  .col_2_navbar {
    max-width: 40% !important;
  }
}
@media only screen and (max-width: 1280px) {
  .col-navbar-item {
    margin-right: 50px !important;
  }
}
@media only screen and (max-width: 991px) {
  .profile_portal {
    display: none;
  }
}
@media only screen and (max-width: 750px) {
  .profile_portal {
    display: none;
  }
  .btn-navbar {
    font-size: 10px !important;
    padding: 15% !important;
  }
  .toggler-navbar {
    display: block !important;
  }
  .col-item-navbar {
    width: 35%;
  }
}
/*//////// landing - layouts - home - sidebar ////////*/
@media only screen and (max-width: 1366px) {
  .logo {
    padding-bottom: 20% !important;
  }
  .sidebar .nav p {
    line-height: 15px !important;
    font-size: 12px;
  }
  .logout_sidebar {
    margin-top: 20% !important;
  }
  .img_home_sidebar_mini {
    max-width: 30% !important;
  }
}
/*//////// landing - layouts - home - app ////////*/
@media only screen and (max-width: 1366px) {
  .footer {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .cardbody_home {
    min-height: 80vh !important;
    max-height: 80vh !important;
    overflow: auto;
  }
}
@media only screen and (max-width: 800px) {
  .footer {
    padding: 0 !important;
  }
  .text_footer {
    font-size: 0.8em !important;
  }
}
/*//////// landing - layouts - home - index ////////*/
.counter {
  margin: 1rem 8px 1rem 1rem !important;
  width: 100%;
}

.counter canvas {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 100%;
  box-shadow: inset 0 0 0 13px rgba(129, 70, 175, 0.8);
}

@media (min-width: 1921px) {
  .counter {
    width: 120%;
  }
}
@media (max-width: 767px) {
  .counter {
    width: 90%;
  }
}
/*//////// landing - layouts - home - auth ////////*/
.percentage {
  position: absolute;
  font-size: 3em;
  font-weight: bold;
}

/*//////// landing - live - index  ////////*/
.list_1 {
  list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='25' height='25' style='fill: green' viewBox='-2.2 -2.4 4 4'><circle r='1' /></svg>");
}

.list_2 {
  list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='25' height='25' style='fill: red' viewBox='-2.2 -2.4 4 4'><circle r='1' /></svg>");
}

.list_3 {
  list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='25' height='25' style='fill: secondary' viewBox='-2.2 -2.4 4 4'><circle r='1' /></svg>");
}

@media (max-width: 1920px) and (min-width: 1367px) {
  .title_live {
    font-size: 2em !important;
  }
  .subtitled_live {
    font-size: 1.5em !important;
  }
  .text_description {
    font-size: 1.2em !important;
  }
  .list_1 {
    font-size: 1.5em !important;
    margin-bottom: 5px;
  }
  .list_2 {
    font-size: 1.5em !important;
    margin-bottom: 5px;
  }
  .list_3 {
    font-size: 1.5em !important;
    margin-bottom: 5px;
  }
}
@media (min-width: 1366px) {
  .title_live {
    font-size: 1.2em;
  }
  .subtitled_live {
    font-size: 1em;
  }
  .card_second {
    max-height: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }
  .text_description {
    font-size: 0.8em;
  }
}
@media (max-width: 1365px) and (min-width: 1200px) {
  .title_live {
    font-size: 1.2em;
  }
  .subtitled_live {
    font-size: 1em;
  }
  .text_description {
    font-size: 0.8em;
  }
}
@media (max-width: 1199px) {
  .col_firts {
    min-width: 100% !important;
  }
  .col_second {
    min-width: 100% !important;
  }
}
@media (max-width: 600px) {
  .col_img_live {
    min-width: 100% !important;
    margin-top: 5%;
    padding-right: 2% !important;
  }
  .col_description {
    min-width: 100% !important;
  }
}
/*//////// landing - live - saved  ////////*/
.content_right {
  border: 3px solid #7DBE38;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 20%;
  background-image: url(/images/background_sidebar_ticket.png?3fdfa1a5917eb68a8b2806d88e989103);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.modal-backdrop.show {
  opacity: 0.8 !important;
  background-image: url(/images/background_sidebar.png?b7916e9e2e1cf028205aaae97b09c296) !important;
  background-size: 100% 100% !important;
}

@media (max-width: 1366px) {
  .content_right {
    max-width: 13% !important;
  }
  .titlerecompensa {
    font-size: 1.2em;
  }
  .subtitledrecompensa {
    font-size: 1em;
  }
}
@media (max-width: 800px) {
  .card_list {
    min-width: 100% !important;
  }
}
@media (min-width: 1920px) {
  .titleIntroduction {
    font-size: 1.5625rem !important;
  }
  .cardlist {
    height: 600px !important;
  }
}
@media (max-width: 1366px) {
  .title_class_save {
    font-size: 1.5em !important;
  }
  .subtitled_class_save {
    font-size: 1em !important;
  }
  .titleIntroduction {
    font-size: 1em !important;
  }
  .subtitledIntroduction {
    font-size: 0.8em !important;
  }
  .col_card_save {
    max-height: 65% !important;
  }
  .col_card_video {
    max-height: 65% !important;
  }
  .cardlist {
    height: 400px !important;
  }
}
@media (max-width: 1220px) and (min-width: 1150px) {
  .col_card_save {
    max-height: 40% !important;
  }
}
@media (max-width: 1149px) {
  .class_list_save {
    display: none;
  }
  .col_firts {
    min-width: 100% !important;
    min-height: auto !important;
  }
  .col_second {
    min-width: 100% !important;
    min-height: auto !important;
  }
  .col_thrid {
    min-width: 100% !important;
    min-height: auto !important;
    display: block !important;
  }
  .title_list_save {
    margin-top: 5% !important;
    margin-bottom: 5% !important;
  }
  .col_list_save_plus {
    max-width: 70% !important;
    margin: auto !important;
  }
}
/*//////// landing - live - calendar ////////*/
/* .calendarCont {
    width: 100% !important;
    min-height: fit-content !important;
} */
/* #calendar {
    height: fit-content !important;
} */
/*//////// landing - live - sessionlive  ////////*/
.animationIco {
  transition: transform 0.2s;
}

.animationIco:hover {
  transform: scale(1.5);
}

@media (max-width: 1366px) {
  .title_sessionlive {
    font-size: 1.5em;
  }
  .subtitled_sessionlive {
    font-size: 1em;
  }
  .icon_modal {
    width: 25% !important;
  }
  .btn_modal {
    font-size: 14px !important;
  }
  .col_btn_modal {
    margin-bottom: 1% !important;
  }
}
@media (max-width: 900px) {
  .col_vimeo {
    min-width: 100% !important;
    margin-bottom: 25%;
  }
  .card_chatvimeo {
    height: 500px !important;
    width: 100%;
  }
}
/*//////// landing - perfil - index  ////////*/
.editarFotoBtn {
  border-radius: 40px;
  font-weight: bold;
  background: white;
  border: 2px solid #8246AF;
  color: #8246AF;
}

#preview_image {
  background-image: url("https://electronicssoftware.net/wp-content/uploads/user.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 100%;
  box-shadow: inset 0 0 0 13px rgba(129, 70, 175, 0.8);
}

@media (max-width: 1366px) {
  .text_title {
    font-size: 1.5em !important;
  }
  .text_description {
    font-size: 1em !important;
  }
  .col_title_insignias {
    margin: 0 !important;
  }
  .svg_insignias {
    width: 100% !important;
  }
  .col_two_insignias {
    min-width: 40% !important;
    max-width: 40% !important;
    height: 80vh !important;
  }
  .col_one_insignias {
    min-width: 60% !important;
    max-width: 60% !important;
  }
  .col_svg {
    min-width: 15% !important;
    max-width: 15% !important;
  }
  .col_list_insignias {
    max-height: 150px !important;
  }
  .card_margin_one {
    margin: 0% !important;
  }
  .card_margin_two {
    margin: 0% !important;
  }
  .cardbody_principal {
    margin-bottom: 0% !important;
  }
}
@media (max-width: 1200px) {
  .col_one_insignias {
    min-width: 100% !important;
    margin-bottom: 5%;
  }
  .col_two_insignias {
    min-width: 100% !important;
  }
}
@media (max-width: 600px) {
  .editarFotoBtn {
    padding: 8px 0 !important;
    font-size: 10px !important;
    width: 75%;
  }
}
/*//////// landing - portal - index  ////////*/
.carditem_home:hover {
  border-style: solid;
  border-width: 5px;
  border-color: #7DBE38;
  cursor: pointer;
}

.carditem_home_2:hover {
  border-style: solid;
  border-width: 5px;
  border-color: #7DBE38;
  cursor: pointer;
}

.carditem_home_3:hover {
  border-style: solid;
  border-width: 5px;
  border-color: #7DBE38;
  cursor: pointer;
}

.li_indicador {
  cursor: pointer;
  width: 10px !important;
  height: 10px !important;
  border-radius: 40px;
}

.title_carditem_home {
  font-weight: bold;
  font-size: 35px;
  line-height: 38px;
  text-align: center;
}

.subtitled_carditem_home {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 19px;
}

@media only screen and (min-width: 1920px) {
  .title_home {
    font-size: 2.5em;
  }
  .img_carrousel {
    max-height: 150px !important;
  }
  .carditem_home {
    cursor: pointer;
    min-height: 450px;
    min-width: 85%;
    max-width: 85%;
    border-radius: 20px;
    background-image: url(/images/clases_en_vivo.png?f1d999bc6859357420be57d30a3c63e5);
    background-size: 100% 100%;
  }
  .carditem_home_2 {
    cursor: pointer;
    min-height: 450px;
    min-width: 85%;
    max-width: 85%;
    border-radius: 20px;
    background-image: url(/images/desafios_home_2.png?645a65507eae7819b60e8cdaa87e6bca);
    background-size: 100% 100%;
  }
  .carditem_home_3 {
    cursor: pointer;
    min-height: 450px;
    min-width: 85%;
    max-width: 85%;
    border-radius: 20px;
    background-image: url(/images/galeria_2.png?ae0f7f55cabb48849bdee24b37d7299d);
    background-size: 100% 100%;
  }
}
@media only screen and (max-width: 1919px) {
  .title_home {
    font-size: 1.8em;
  }
  .img_carrousel {
    max-height: 100px !important;
  }
  .title_carditem_home {
    font-weight: bold !important;
    font-size: 25px !important;
    line-height: 38px !important;
  }
  .subtitled_carditem_home {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }
  .col-carrousel {
    margin-bottom: 3% !important;
  }
  .carditem_home {
    cursor: pointer;
    min-height: 300px;
    min-width: 90%;
    max-width: 90%;
    border-radius: 20px;
    background-image: url(/images/clases_en_vivo_2.png?243c21a98e442a963fd6c30868d4aa64);
    background-size: 100% 100%;
  }
  .carditem_home_2 {
    cursor: pointer;
    min-height: 300px;
    min-width: 90%;
    max-width: 90%;
    border-radius: 20px;
    background-image: url(/images/desafios_home_2.png?645a65507eae7819b60e8cdaa87e6bca);
    background-size: 100% 100%;
  }
  .carditem_home_3 {
    cursor: pointer;
    min-height: 300px;
    min-width: 90%;
    max-width: 90%;
    border-radius: 20px;
    background-image: url(/images/galeria_2.png?ae0f7f55cabb48849bdee24b37d7299d);
    background-size: 100% 100%;
  }
}
@media only screen and (max-width: 750px) {
  .title_home {
    text-align: center;
    margin-bottom: 5%;
  }
  .col-carrousel {
    display: none;
  }
  .col_carditem_home {
    min-width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    margin-bottom: 5%;
  }
}
/*//////// landing - ranking - index  ////////*/
.rankFirstPlaces {
  border-radius: 20px;
  min-height: 50vh;
  max-height: 50vh;
}

@media (max-width: 1366px) {
  .titleranking {
    font-size: 1.2em;
  }
  .subtitledranking {
    font-size: 1em;
  }
  .title_cardone {
    font-size: 1em;
  }
  .name_cardone {
    font-size: 0.8em;
  }
  .last_cardone {
    font-size: 0.8em;
  }
  .div_img {
    width: 60px !important;
    height: 100% !important;
  }
  .col_cardone {
    margin-bottom: 0 !important;
    margin-top: 5% !important;
  }
  .col_second {
    min-width: 65% !important;
  }
  .div_num {
    width: 60px !important;
    height: 40px !important;
  }
  .cardprincipal {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
}
@media (max-width: 1365px) {
  .rankFirstPlaces {
    max-height: none;
  }
  .col_one {
    min-width: 100% !important;
  }
  .col_second {
    min-width: 100% !important;
  }
  .col_filtros {
    display: none !important;
  }
  .div_num {
    width: 30px !important;
    height: 30px !important;
  }
  .cardbody_second {
    border-left-color: #7DBE38;
    border-left-width: 5px;
    border-left-style: solid;
  }
  .col_movil {
    display: block !important;
  }
}
/*//////// landing - reward - formulario  ////////*/
@media (max-width: 1366px) {
  .title_form {
    font-size: 1.3em;
  }
  .subtitled_form {
    font-size: 1em;
  }
  .img_form {
    width: 75% !important;
  }
  .card_title {
    margin-top: 0 !important;
  }
  .card_title_two {
    margin-top: 3% !important;
  }
  .card_bottom {
    margin-bottom: 0 !important;
    margin-top: 2% !important;
  }
}
@media (max-width: 800px) {
  .card_one {
    min-width: 100% !important;
  }
  .card_two {
    min-width: 100% !important;
  }
}
/*//////// landing - reward - index  ////////*/
.card_list {
  max-width: 45% !important;
  min-height: 5rem !important;
  margin-bottom: 1rem !important;
}

@media (max-width: 1366px) {
  .titlerecompensa {
    font-size: 1.2em;
  }
  .subtitledrecompensa {
    font-size: 1em;
  }
}
@media (max-width: 800px) {
  .card_list {
    min-width: 100% !important;
  }
}
/*//////// landing - reward - premio  ////////*/
.cardpremio {
  width: 374px;
  height: 132px;
  margin: rem auto !important;
  border-radius: 20px !important;
  background-image: url(/images/background_perfilcard.png?013a61cb1f96781b123cc58b01404a09);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media (max-width: 1366px) {
  .cardpremio {
    width: 5rem;
    height: 132px;
  }
  .title_premio {
    font-size: 1.5em;
  }
  .description_premio {
    font-size: 1em;
  }
}
@media (max-width: 800px) {
  .title_premio {
    font-size: 1.5em;
  }
  .description_premio {
    font-size: 1em;
  }
  .rewardCardCont {
    height: 80vh !important;
  }
  .cardpremio {
    min-width: 100%;
    margin-bottom: 5% !important;
  }
}
/*//////// live - index  ////////*/
@media (max-width: 1920px) and (min-width: 1367px) {
  .title_live {
    font-size: 2em !important;
  }
  .subtitled_live {
    font-size: 1.5em !important;
  }
  .text_description {
    font-size: 1.2em !important;
  }
  .list_1 {
    font-size: 1.5em !important;
    margin-bottom: 5px;
  }
  .list_2 {
    font-size: 1.5em !important;
    margin-bottom: 5px;
  }
  .list_3 {
    font-size: 1.5em !important;
    margin-bottom: 5px;
  }
}
@media (min-width: 1366px) {
  .title_live {
    font-size: 1.2em;
  }
  .subtitled_live {
    font-size: 1em;
  }
  .card_second {
    max-height: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }
  .text_description {
    font-size: 0.8em;
  }
}
@media (max-width: 1365px) and (min-width: 1200px) {
  .title_live {
    font-size: 1.2em;
  }
  .subtitled_live {
    font-size: 1em;
  }
  .text_description {
    font-size: 0.8em;
  }
}
@media (max-width: 1199px) {
  .col_firts {
    min-width: 100% !important;
  }
  .col_second {
    min-width: 100% !important;
  }
}
@media (max-width: 600px) {
  .col_img_live {
    min-width: 100% !important;
    margin-top: 5%;
    padding-right: 2% !important;
  }
  .col_description {
    min-width: 100% !important;
  }
}
/*//////// general ////////*/
.font16 {
  font-size: 16px;
}

.greenBtn {
  background: #7DBE38;
}

.colorGreen {
  color: #7DBE38;
}

.purpleBtn {
  background: #8246AF;
}

.colorPurple {
  color: #8246AF;
}

.border20 {
  border-radius: 20px;
}

.border40 {
  border-radius: 40px;
}
